@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.app {
    height: 100%;
    justify-content: center;
    align-items: auto;
    text-align: center;
    text-emphasis-color: #eee;
  }  

  .input {
    border: 1px solid #505050;
    padding: 10px;
    border-radius: 10px;
    outline:none;
  }